@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
   /* color */
   --color-primary: rgba(3, 54, 255, 1);
   --color-secondary: rgba(255, 165, 0, 1);
   --color-background: rgba(255, 165, 0, 1);
   --color-hero: url('../src/assets/images/hero_image.png');

   /* font */
   --font-lato: 'Lato', sans-serif;
   --font-roboto: 'Roboto', sans-serif;
}

@layer base {

   *,
   *::before,
   *::after {
      @apply m-0 p-0 box-border;
   }

   html {
      @apply scroll-smooth overflow-x-hidden;
   }

   body {
      @apply font-lato;
   }
}

@layer components {
   .active_link {
      @apply text-white font-bold bg-primary rounded-lg px-10 py-1.5 hover:bg-primary/80 transition-colors duration-300 ease-in;
   }

   .card {
      @apply bg-white shadow-2xl rounded;
   }
}